@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --swiper-navigation-size: 44px;
}



html{
  scroll-behavior: smooth;
}

#mySwiper .swiper-pagination-bullet{
  background-color: #C9196B;
}

.swiper-button-next{
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.06);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.swiper-button-prev{
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(255,255,255,0.06);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.Slider{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  
  .swiper-button-next{
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    z-index: 10;
    color: white;
  }
  
  .swiper-button-prev{
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    z-index: 10;
    color: white;
  }

  :root {
    --swiper-theme-color: white;
  }

}