@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --swiper-navigation-size: 44px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

html{
  scroll-behavior: smooth;
}

#mySwiper .swiper-pagination-bullet{
  background-color: #C9196B;
}



.Slider{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 780px) {
  
  .swiper-button-next{
    
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    z-index: 10;
    color: white !important;
    transition-duration: 200ms;
  }
  
  .swiper-button-prev{
    padding: 2rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);
    z-index: 10;
    color: white !important;
    transition-duration: 200ms;
  }

  .swiper-button-prev::after {
    font-size: 1rem !important;
  }

  .swiper-button-next::after {
    font-size: 1.5rem !important;
  }

  .swiper-button-prev:hover {
    padding: 2.25rem;
    
  }

  .swiper-button-next:hover {
    padding: 2.25rem;
  }

}
@media (max-width: 780px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: visibility 0s, opacity 0.5s linear !important;
  }
  
  /* Additional styles for smaller screens can be added here */
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 3px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.no-scroll {
  overflow: hidden;
}